*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: #c7c4cc;
    padding: 16px 0;
    color: black;
    border-bottom: center;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}
.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}
button {
    margin-left: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}
form {
    padding: 24px 0;
    text-align: center; 
}

input, button {
    padding: 8px;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
ul {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-x: hidden;

}
.riscado {
    text-decoration: line-through;
}
input button {
    padding: 8px;
}